body{color:#333;}
.mui-btn-danger, .mui-btn-negative, .mui-btn-red{background: #FF5445;}
.mui-bar-tab .mui-tab-item.mui-active{color:#FF5445;}

ul,li{
	list-style: none;
}

.error-col {text-align: center;position:absolute;top:50%;margin-top:-180px;width:100%;}
.error-col img{width:195px;}
.error-col button{margin:50px auto 0 auto;display: block;padding:0;width:190px;text-align: center;line-height: 45px;font-size:17px;border:1px solid #FF5445!important;border-radius: 20px;}

.empty_text{width: 100%; height: 400px; line-height: 400px; text-align: center;background: #f4f4f4; border: none; z-index: 10;}
/**
 * 头部返回图标的颜色
 */
header > a{
	color: #333333;
}
/**
 * 头部的关闭
 */
.header_close{
  display: inline-block;
  line-height: 44px;
  margin-left: 10px;
  box-sizing: border-box;
  z-index: 10;
  height: 100%;
  position: relative;
}
/**
 * 头部右侧图片
 */
header img{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 15px;
}
			
/**
 * 改变默认的content颜色值
 */
.mui-content{
	background: #ffffff;
}

.row {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row nowrap;
}

.col {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column nowrap;
}

.flex_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 0%;
}

.hideClass{
	display: none;
}

.showClass{
	display: inline-block;
}

/**
 * 底部 有底线的样式
 */
.list_bottom_warning_text{
	color: #cbcbcb; 
	font-size: 12px; 
}
/**
 * 弹窗样式
 */
.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  overflow: hidden;
  z-index: 1;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.global-modal .modal-dialog {
  width: 80%;
  max-height: 60%;
  overflow: auto;
  background: #ffffff;
  border-radius: 18px;
  position: relative;
  border-radius: 20px;
}
.global-modal .closeDialg{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 23px;
	height: 23px;
	z-index: 100000;
}

.global-modal .modal-content {
  padding: 25px 27px;
  font-size: 12px;
  position: relative;
  z-index: 10000;
  font-size: 12px;
  color: #333333;
  background: #ffffff;
  text-align: left;
  opacity: 1;
}

.global-modal .dialog_title{
	font-size: 18px;
	color: #333333;
	margin-bottom: 20px;
	text-align: center;
}
			


.content_wrap .mui-input-range input[type=range]::-webkit-slider-thumb{width:32px;height:32px;background: url(../images/4567.png);background-size:100% 100%;position:relative;z-index:10;}


.content_wrap .mui-input-range input[type=range]{height:5px;background: #DFDFDF;margin:15px 0 2px 0;}

.content_wrap .mui-input-range{position: relative;padding-right:0;}
.content_wrap .mui-input-range .bottom-value{font-size:11px;height:35px;font-weight: bold; line-height: 35px;}
.content_wrap .mui-input-range .bottom-value span:first-child{float:left;}
.content_wrap .mui-input-range .bottom-value span:last-child{float:right;}
.content_wrap .mui-input-range .left-range{position:absolute;font-size:10px;background: #FF5445;height:5px;border-radius: 6px 0 0 6px;top:15px;left:0;z-index:1;}

.content_wrap .mui-input-range .mui-tooltip{width:auto;min-width:64px;}

.gonggao{position: relative;width:100%;padding:0 40px;box-sizing: border-box;}
.gonggao .left{position: absolute;left:0;top:0;} 
.gonggao .right{position: absolute;right:-18px; top: -20px;} 
.gonggao .swiper-container {
      width: 100%;
      height: 30px;
      margin-top:-2px;
    }
    
.gonggao .swiper-slide {
      text-align: left;
      font-size: 12px;
      color:#fff;
    }


    .dialog_content_wrap {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      background: #ffffff;
      z-index: 2;
      width: 80%;
      align-items: center;
  }
  

    .dialog_bottom_btn {
      position: absolute;
      bottom: 0px;
      width: 208px;
      height: 65px;
      left: 50%;
      margin-left: -104px;
  }




