body{color:#333;}
.mui-btn-danger, .mui-btn-negative, .mui-btn-red{background: #FF5445;}
.mui-bar-tab .mui-tab-item.mui-active{color:#FF5445;}

/**
 * 头部返回图标的颜色
 */
header > a{
	color: #333333;
}
/**
 * 头部的关闭
 */
.header_close{
	display: inline-block;
	padding-top: 12px;
}

.row {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row nowrap;
}

.col {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column nowrap;
}

.flex_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 0%;
}