.DS_Store
node_modules
build
app/build
app/src/main/assets/apps
certificateCamera/build
mylibrary/build
unpackage
manifest.json
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.gradle

app/app.iml
HBuilder-Integrate-AS.iml
certificateCamera/certificateCamera.iml
